.root {}

.staffProfile {
    display: flex;
    justify-content: start;
    align-content: center;
}

.staffField {
    display: flex;
    flex-direction: column;
    text-align: start;
}

.Filter_Staffs {}