:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
  overflow: auto;
  text-align: start;
  display: flex;
  justify-content: end;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.Logo {
  display: block;
  overflow: visible;
  align-self: start;
  order: 24;
  position: relative;
  bottom: 290px;
  right: 400px;
}
.background {
  background-color: white;
  background-repeat: no-repeat;
  background-image: url('https://static.wixstatic.com/media/d9657b20f1b9473f90815b9da211bb2a.jpg/v1/fit/w_924,h_520/d9657b20f1b9473f90815b9da211bb2a.jpg');
  background-position: 50%;
  background-size: cover;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.logo {
  position: relative;
  overflow: visible;
  top: 10px;
  left: 50px;
}
.background-img {
  background: repeat padding-box border-box 0% / auto scroll
      linear-gradient(180deg, rgba(245, 14, 14, 0.24) 0%, rgba(245, 14, 14, 0.24) 100%),
    no-repeat padding-box border-box 50% / cover scroll
      url('https://www.ehealth.nsw.gov.au/__data/assets/image/0007/706525/1-Reserve-Road.jpg');
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  grid-template-columns: none;
  justify-items: start;
  align-content: space-evenly;
  justify-content: start;
}
.front-index {
  height: 500px;
  display: block;
  align-items: start;
  justify-items: start;
  width: 500px;
}
.Welcome-sign {
  display: block;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-items: center;
  overflow: visible;
  grid-auto-flow: row;
  position: relative;
  left: 100px;
  font-family: Times New Roman, serif;
  text-align: justify;
  color: #fdfdfd;
  align-content: end;
  justify-content: space-between;
  grid-template-columns: auto;
  top: 45px;
}
.h5 {
  color: #ffffff;
}
.H4 {
  color: #ffffff;
  display: block;
  flex-direction: row;
  gap: 150px;
  align-content: space-evenly;
  justify-content: space-evenly;
  justify-items: start;
  align-items: stretch;
  position: static;
  font-family: Times New Roman, serif;
  font-size: 30px;
}
.formapplication {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  align-content: space-evenly;
  justify-items: start;
  grid-auto-flow: column;
  gap: 100px;
  justify-content: space-evenly;
}
.login-form {
  display: block;
  font-family: Times New Roman, serif;
  font-size: 20px;
  color: #ffffff;
  direction: ltr;
  flex-grow: 0;
  align-self: stretch;
  background-color: transparent;
  background-image: linear-gradient(180deg, #000000 0%, rgba(255, 255, 255, 0) 0%);
  background-repeat: repeat;
  background-position: 0%;
  background-size: auto;
  background-attachment: scroll;
  background-origin: padding-box;
  background-clip: border-box;
}
.submit_button {
  align-self: start;
  width: 150px;
  color: #ffffff;
  background-color: #ff0000;
  border-radius: 5px;
  font-size: 20px;
  justify-content: start;
  align-content: start;
  display: block;
  height: 30px;
}
.username-input {
  width: 350px;
  min-width: 100px;
  max-width: 400px;
  height: 25px;
  border-radius: 5px;
}
.username {
  font-size: 25px;
}
.password {
  font-size: 25px;
}
.password-input {
  width: 350px;
  height: 25px;
  border-radius: 5px;
}
.forgotPBackground {
}
